<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show available Rooms</title>
    <link rel="stylesheet" th:href="@{/css/table.css}" href="/static/css/table.css">

    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">
</head>
<body>

<th:block>
    <div id="successFailure_div" th:replace="~{fragments/successFailureFragment :: successFailureFragment()}"></div>
</th:block>
<p th:if="${availableRooms.size() > 0}" style="color:dodgerblue; font-weight:bolder;" th:text="|CheckInTime time - Checkout Time:${checkInDate} to ${checkoutDate}|"></p>
<table th:if="${availableRooms.size() > 0}">
        <tr>
            <th>SNo</th>
            <th>Images</th>
            <th>RoomNo</th>
            <th>Room Type
                <form th:action="@{/user/service/bookRoom}" method="get">
                <input type="hidden" name="checkInDate" th:value="${checkInDate}">
                <input type="hidden" name="checkoutDate" th:value="${checkoutDate}">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="roomType">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
                </form>

            </th>
            <th>Price per Hour
                <form th:action="@{/user/service/bookRoom}" method="get">
                <input type="hidden" name="checkInDate" th:value="${checkInDate}">
                <input type="hidden" name="checkoutDate" th:value="${checkoutDate}">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="pricePerHour">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
                </form>
            </th>
            <th>Total Price</th>
            <th>Book Room</th>
        </tr>

        <tr th:each="room, iterStat : ${availableRooms}">
            <td th:text="${iterStat.count}"></td>
       <td><div id="imageDisplay"><img th:src="@{/imageProcessor/displayRoomImage(Uuid=${business.businessUuid}, roomNo=${room.key.roomNumber})}" alt="Image Not available" /></div></td>
            <td th:text="${room.key.roomNumber}"></td>
            <td th:text="${room.key.roomType}"></td>
            <td th:text="${room.key.pricePerHour}"></td>
            <td th:text="${room.value}"></td>

            <!-- Book Room Form -->
            <td>
                <form th:action="@{/user/service/bookRoom}" method="post">
                    <input type="hidden" name="roomNumber" th:value="${room.key.roomNumber}">
                    <input type="hidden" name="checkInTime" th:value="${checkInDate}">
                    <input type="hidden" name="checkoutTime" th:value="${checkoutDate}">
                    <input type="hidden" name="userProvidePrice" th:value="${room.value}">
                    <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">


                    <button type="submit" onclick="return confirm('Do you really want to Book room');">Book</button>
                </form>

            </td>
        </tr>


</table>
<div id="pagination_display" th:if="${availableRooms.size()>0}">
    <span th:if="${!paginationReceiver.isFirst(paginationReceiver.pageNo)}">
    <a  th:href="@{/user/service/bookRoom(
    pageNo=${paginationReceiver.pageNo - 1},
    checkInDate=${checkInDate},
      checkoutDate=${checkoutDate}
    )}">
      Previous
    </a>
  </span>


    <span th:each="index : ${paginationReceiver.indexes()}">
  <a th:href="@{/user/service/bookRoom(
      pageNo=${index},
      checkInDate=${checkInDate},
      checkoutDate=${checkoutDate}
)}"
     th:text="${index}"
     th:classappend="${index == paginationReceiver.pageNo} ? 'active-Page' : ''">
</a>
  </span>

    <span th:if="${!paginationReceiver.isLast(paginationReceiver.pageNo)}">
    <a th:href="@{/user/service/bookRoom(
       pageNo=${paginationReceiver.pageNo + 1},
       checkInDate=${checkInDate},
      checkoutDate=${checkoutDate}
       )}">
      Next
    </a>
  </span>

</div>
<br>
<div id="back">
<a th:href="@{/user/service/businessPage}">Back</a>
</div>

<h1 th:if="${availableRooms.size()==0}" style="color: green;">No rooms are available for booking</h1>
</body>
</html>