<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show available Rooms</title>
    <link rel="stylesheet" th:href="@{/css/table.css}" href="../../../css/table.css"/>

    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">
    <style>
        .active-Page{
            background-color:blue;
            color:white
        }

    </style>
</head>
<body>

<th:block th:with="margins=${ {'0px','0px','0px','60px'} }">
    <div th:replace="~{fragments/successFailureFragment :: successFailureFragment(${margins})}"></div>
</th:block>
<p th:if="${availableRooms.size() > 0}" th:text="|CheckInTime time-Checkout Time:${checkInDate}-${checkoutDate}|"></p>
<table th:if="${availableRooms.size() > 0}">
        <tr>
            <th>SNo</th>
            <th>RoomNo</th>
            <th>Room Type</th>
            <th>Price per Hour</th>
            <th>Total Price</th>
            <th>Book Room</th>
        </tr>

        <tr th:each="room, iterStat : ${availableRooms}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${room.key.roomNumber}"></td>
            <td th:text="${room.key.roomType}"></td>
            <td th:text="${room.key.pricePerHour}"></td>
            <td th:text="${room.value}"></td>

            <!-- Book Room Form -->
            <td>
                <form th:action="@{/user/service/bookRoom}" method="post">
                    <input type="hidden" name="roomNumber" th:value="${room.key.roomNumber}">
                    <input type="hidden" name="checkInTime" th:value="${checkInDate}">
                    <input type="hidden" name="checkoutTime" th:value="${checkoutDate}">

                    <button type="submit" onclick="return confirm('Do you really want to Book room');">Book</button>
                </form>

            </td>
        </tr>


</table>
<div th:if="${availableRooms.size()>0}"><!-- Previous -->
    <span th:if="${!paginationReceiver.isFirst(paginationReceiver.pageNo)}">
    <a th:classappend="active-Page" th:href="@{/user/service/bookRoom(
    pageNo=${paginationReceiver.pageNo - 1},
    checkInDate=${checkInDate},
      checkoutDate=${checkoutDate}
    )}">
      Previous
    </a>
  </span>

    <!-- Page Numbers -->
    <span th:each="index : ${paginationReceiver.indexes()}">
  <a th:href="@{/user/service/bookRoom(
      pageNo=${index},
      checkInDate=${checkInDate},
      checkoutDate=${checkoutDate}
)}"
     th:text="${index}"
     th:classappend="${index == paginationReceiver.pageNo} ? 'active-Page' : ''">
</a>
  </span>

    <!-- Next -->
    <span th:if="${!paginationReceiver.isLast(paginationReceiver.pageNo)}">
    <a th:classappend="active-Page"
       th:href="@{/user/service/bookRoom(
       pageNo=${paginationReceiver.pageNo + 1},
       checkInDate=${checkInDate},
      checkoutDate=${checkoutDate}
       )}">
      Next
    </a>
  </span>

</div>
<br>
<a th:href="@{/user/service/businessPage}">Back</a>
<br>
<h1 th:if="${availableRooms.size()==0}" style="color: green;">No rooms are available for booking</h1>
</body>
</html>