<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Book Room</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">

</head>
<body class="flex">
<form th:action="@{/user/service/getRoom}" method="post">

    <div id="container" class="flex ">
        <h1>Book Room</h1>
        <div id="checkInDate_div" class="flex form_container">
            <label for="checkInDate">CheckIn Date </label>
            <input class="form_container_child" type="date" id="checkInDate" name="checkInDate" placeholder="Check In date" required/>
        </div>
        <div id="checkInTime_div" class="flex form_container">
            <label for="checkInTime">CheckIn Time </label>
            <input class="form_container_child" type="text" id="checkInTime" name="checkInTime" placeholder="Enter checkIn Time" required />
        </div>
        <div id="checkoutDate_div" class="flex form_container">
            <label for="checkoutDate">Checkout Date </label>
            <input class="form_container_child" type="date" id="checkoutDate" name="checkoutDate" placeholder="Checkout date" required/>
        </div>

        <div id="checkoutTime_div" class="flex form_container">
            <label for="checkoutTime">Checkout Time </label>
            <input class="form_container_child" type="text" id="checkoutTime" name="checkoutTime" placeholder="Enter checkout Time" required />
        </div>
        <div style="margin-left:20%" id="submit_div">
            <button type="submit">Submit</button>
        </div>
        <th:block>
            <div id="successFailure_div" th:replace="~{fragments/successFailureFragment :: successFailureFragment()}"></div>
        </th:block>
    </div>
    <a id="back" th:href="@{/user/service/businessPage}">Back</a>


</form>
</body>
</html>