<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${business.businessName}"> Business Page</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">

    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">
<style>
    input {
        display: inline-block;
        margin: 10px 0;
        padding: 10px 15px;
        color: #fff;
        background-color: #037bfd;
        border-radius: 5px;
        transition: background-color 0.2s ease;
    }
</style>
</head>
<body>
<h1 th:text="|Welcome to Hotel ${business.businessName}|"></h1>

<th:block th:with="margins=${ {'0px','0px','0px','60px'} }">
    <div th:replace="~{fragments/successFailureFragment :: successFailureFragment(${margins})}"></div>
</th:block>
<br>
<a th:href="@{/user/service/getRoom}">
    Book Room
</a>
<br>
<a th:href="@{/user/service/cancelBooking}">Cancel Booking</a>


<form th:action="@{/user/service/logout}" method="post">
    <input type="submit" id="businessLogout" value="Logout"/>
</form>



</body>
</html>