<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title th:text="${business.businessName}"> Business Page</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="/static/css/dashboard.css">

    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">
<style>
    #logout_button{
        background-color:transparent;
        border:none;
        font-size:larger;
    }
    #logout_div>label{
        color:red;
    }
    #logout_button:hover,#logout_div>label:hover,#logout_div:hover{
        background-color: #fffdfd;
        cursor:pointer;
    }
    #logout_div{
        padding:3%;
        width:66%;
    }

</style>
</head>
<body>



<div id="all_anchors">
<a th:href="@{/user/service/getRoom}">
    Book Room
</a>

<a th:href="@{/user/service/cancelBooking}"><i style="font-size:large" class="fa-solid fa-xmark"></i>Cancel Booking</a>

    <div id="logout_div">
<form th:action="@{/user/service/logout}" method="post">

    <button id="logout_button" type="submit" id="businessLogout"/><i style="color:red;" class="fa-solid fa-right-from-bracket"></i> </button><label for="logout_button">Logout</label>

</form>
    </div>

</div>
<div id="main_content">
    <th:block th:with="margins=${ {'0px','0px','0px','60px'} }">
        <div th:replace="~{fragments/successFailureFragment :: successFailureFragment(${margins})}"></div>
    </th:block>
    <div id="dash_header">
        <h1 th:text="|Welcome to Hotel ${business.businessName}|"></h1>
    </div>
    <div id="img_div"><img th:src=@{~/image/hotelPic2.jpg} alt="Hotel Pic"></div>
</div>

</body>
</html>