<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cancel Bookings</title>
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">

</head>
<script>
    function confirmAction(button) {
        const action = button.dataset.action;
        const roomNumber = button.dataset.roomNumber;
        return confirm(`Do you really want to ${action} for Room number ${roomNumber}?`);
    }
</script>
<body>

<th:block th:with="margins=${ {'0px','0px','0px','60px'} }">
    <div th:replace="~{fragments/successFailureFragment :: successFailureFragment(${margins})}"></div>
</th:block>
<div th:text="|BusinessName:${business.businessName}, city:${business.cityName}, location:${business.location}|"></div>
<table th:if="${bookingsAndRefundableAmt.size() > 0}">
    <thead>
    <tr>
        <th>SNo</th>
        <th>Room No</th>
        <th>Booking Date
            <form th:action="@{/user/service/cancelBooking}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="bookingDate">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>Check In Date
            <form th:action="@{/user/service/cancelBooking}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="checkInDate">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>Checkout Date
            <form th:action="@{/user/service/cancelBooking}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="checkoutDate">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>Status
            <form th:action="@{/user/service/cancelBooking}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="status">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>Room Type</th>
        <th> Amount paid for Booking Room
            <form th:action="@{/user/service/cancelBooking}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="paymentAmt">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>Penalty Amt(5% of paid amt) </th>
        <th> Expected amount you will get(if cancelled now)</th>
        <th>Cancel Booking</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking,bookingStat:${bookingsAndRefundableAmt}" th:with="earlyCheckout=${booking.value.compareTo(T(java.math.BigDecimal).ZERO) == 0}">
        <td th:text="${bookingStat.count}"></td>
        <td th:text="${booking.key.room.roomNumber}"></td>
        <td th:text="${booking.key.bookingDate}"></td>
        <td th:text="${booking.key.checkInDate}"></td>
        <td th:text="${booking.key.checkoutDate}"></td>
        <td th:text="${booking.key.status}"></td>
        <td th:text="${booking.key.roomType}"></td>
        <td th:text="${booking.key.paymentAmt}"></td>
        <td th:text="${earlyCheckout
              ? booking.value
              : booking.key.paymentAmt.subtract(booking.value)}">
        </td>
        <td th:text="${booking.value}"> </td>
        <td>
            <form th:action="${earlyCheckout}? @{/user/service/earlyCheckout}:@{/user/service/cancelBooking}" method="post">
                <input type="hidden" name="roomNumber" th:value="${booking.key.room.roomNumber}">
                <input type="hidden" name="checkInTime" th:value="${booking.key.checkInDate}">
                <input type="hidden" name="checkoutTime" th:value="${booking.key.checkoutDate}">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">


                <button type="submit"
                        th:data-action="${earlyCheckout ? 'Checkout Early' : 'Cancel Booking'}"
                        th:data-room-number="${booking.key.room.roomNumber}"
                        th:text="${earlyCheckout ? 'Checkout Early' : 'Cancel Booking'}"
                        onclick="return confirmAction(this)">
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<th:block th:if="${bookingsAndRefundableAmt.size()>0}">

    <th:block
            th:replace="~{fragments/paginationDisplay::paginationDisplay(@{/user/service/cancelBooking},${paginationReceiver})}">

    </th:block>
</th:block>
<br>
<a th:href="@{/user/service/businessPage}">Back</a>
<br>
<h1 th:if="${bookingsAndRefundableAmt.size()==0}" style="color: red;">No Rooms Booked</h1>
</body>
</html>