<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Hotels</title>
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">
</head>
<body>

<th:block th:with="margins=${ {'0px','0px','0px','60px'} }">
    <div th:replace="~{fragments/successFailureFragment :: successFailureFragment(${margins})}"></div>
</th:block>

<table th:if="${allAvailableBusinesses.size() > 0}">
    <thead>
    <tr>
        <th>SNo</th>
        <th>Hotel Name
            <form th:action="@{/user/service/getBusiness}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="businessName">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>City
            <form th:action="@{/user/service/getBusiness}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="cityName">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>Location
            <form th:action="@{/user/service/getBusiness}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="location">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>Select Hotels</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="business,businessStat:${allAvailableBusinesses}">
        <td th:text="${businessStat.count}"></td>
        <td th:text="${business.businessName}"></td>
        <td th:text="${business.cityName}"></td>
        <td th:text="${business.location}"></td>
        <td>
            <form th:action="@{/user/service/getBusiness}" method="post">
                <input type="hidden" name="city" th:value="${business.cityName}" />
                <input type="hidden" name="location" th:value="${business.location}" />
                <input type="hidden" name="businessName" th:value="${business.businessName}" />
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">

                <button type="submit">select</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<th:block th:if="${allAvailableBusinesses.size()>0}">

    <th:block
            th:replace="~{fragments/paginationDisplay::paginationDisplay(@{/user/service/getBusiness},${paginationReceiver})}">

    </th:block>
</th:block>
<br>
<a th:href="@{/user/resource/dashboard}">Back</a>
<br>
<h1 th:if="${allAvailableBusinesses.size()==0}" style="color: red;">No Business are available</h1>
</body>
</html>