# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle (if used)
/build/
/.gradle/

# IDEs
/.idea/
/*.iml
/.vscode/
out/


# Java
*.class
*.jar
*.war
*.ear
*.log
*.tmp

# OS
.DS_Store
Thumbs.db

# Sensitive / local config
# Ignore real application properties so secrets are not pushed
/src/main/resources/application.properties


# Other
*.swp
HELP.md
/src/test