<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<th:block th:with="margins=${ {'0px','0px','0px','60px'} }">
    <div th:replace="~{fragments/successFailureFragment :: successFailureFragment(${margins})}"></div>
</th:block>

<div id="all_anchors">
<a th:href="@{/admin/resource/reg}"><i class="fa-solid fa-circle-user"></i>Register Admin</a>
<br>
<a th:href="@{/admin/resource/adminApprove}"><i class="fa-solid fa-thumbs-up"></i>Approve Users</a>
<br>
<a th:href="@{/admin/resource/adminDisprove}"><i class="fa-solid fa-thumbs-down"></i>Disapprove Users</a>
<br>
<a th:href="@{/common/resource/dashboard}"><i  class="fa-solid fa-house"></i>Home Page</a>
<br>
<a style="color:red;" th:href="@{/common/resource/logout}"><i style="color:red;" class="fa-solid fa-right-from-bracket"></i> Logout</a>

</div>

</body>
</html>