<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unapproved users</title>
    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">

</head>
<body>

<th:block th:with="margins=${ {'0px','0px','0px','60px'} }">
    <div th:replace="~{fragments/successFailureFragment :: successFailureFragment(${margins})}"></div>
</th:block>

<table th:if="${approvedUsers.size() > 0}">
    <thead>
    <tr>
        <th>SNo</th>
        <th>email
            <form th:action="@{/admin/resource/adminDisprove}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="email">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>Role
            <form th:action="@{/admin/resource/adminDisprove}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="role">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>Disapprove</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user,userStat:${approvedUsers}">
        <td th:text="${userStat.count}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>
        <td>
            <form th:action="@{/admin/resource/adminDisprove}" method="post">
                <input type="hidden" name="email" th:value="${user.email}" />
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <button type="submit">DisApprove</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<th:block th:if="${approvedUsers.size()>0}">

    <th:block
            th:replace="~{fragments/paginationDisplay::paginationDisplay(@{/admin/resource/adminDisprove},${paginationReceiver})}">

    </th:block>
</th:block>
<div>
    <a th:href="@{/admin/resource/dashboard}">Back</a>
</div>
<h1 th:if="${approvedUsers.size()==0}" style="color: green;">All users already are not approved</h1>
</body>
</html>