<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room Registration</title>
    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body class="flex">
<form th:action="@{/business/service/addRoom}" method="post">

    <div id="container" class="flex ">
        <h1>Add Rooms </h1>
        <div id="roomNo_div" class="flex form_container">
            <label for="roomNumber">Room No </label>
            <input class="form_container_child" type="number" id="roomNumber" th:field="${roomAcceptor.roomNumber}" placeholder="Enter Room Number" required/>
        </div>
        <div id="pricePerHour_div" class="flex form_container">
            <label for="pricePerHour">Price Per hour </label>
            <input class="form_container_child" type="number" step="0.01" id="pricePerHour" th:field="${roomAcceptor.pricePerHour}" placeholder="Enter Price per hour" required />
        </div>
        <div id="roomType_div" class="flex form_container">
            <label for="roomType">Room Type </label>
            <input class="form_container_child" type="text" id="roomType" th:field="${roomAcceptor.roomType}" placeholder="Enter Room type" required />
        </div>
        <div id="isActive_div" class="flex form_container">
            <label for="isActive">Is Active </label>
            <input class="form_container_child" type="checkbox" id="isActive" th:field="${roomAcceptor.active}" placeholder="Enter Room type"/>
        </div>
        <div id="submit_div">
            <button type="submit">Add Room</button>
        </div>
    </div>
</form>
<th:block th:with="margins=${ {'0px','0px','0px','60px'} }">
    <div th:replace="~{fragments/successFailureFragment :: successFailureFragment(${margins})}"></div>
</th:block>
<br>
<a th:href="@{/business/resource/dashboard}">Back</a>
<br>
</body>
</html>