<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booked Room Information</title>
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">
</head>
<body>

<th:block th:with="margins=${ {'0px','0px','0px','60px'} }">
    <div th:replace="~{fragments/successFailureFragment :: successFailureFragment(${margins})}"></div>
</th:block>

<table th:if="${bookedRooms.size() > 0}">
    <thead>
    <tr>
        <th>SNo</th>
        <th>RoomNo</th>
        <th>Present PricePerHour</th>
        <th>Booked PricePerHour
            <form th:action="@{/business/service/findBookedRooms}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="pricePerHr">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>Room Type</th>
        <th>Room status
            <form th:action="@{/business/service/findBookedRooms}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="status">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>Active Status</th>
        <th>Booking Date
            <form th:action="@{/business/service/findBookedRooms}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="bookingDate">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>CheckIng Date
            <form th:action="@{/business/service/findBookedRooms}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="checkInDate">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>Checked Out Date
            <form th:action="@{/business/service/findBookedRooms}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="checkoutDate">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
        <th>Paid amount
            <form th:action="@{/business/service/findBookedRooms}" method="get">
                <input type="hidden" name="pageNo" th:value="${paginationReceiver.pageNo}">
                <input type="hidden" name="sortField" value="paymentAmt">
                <button type="submit" name="sortDir" value="desc" style="border:none; background:none; cursor:pointer;">▲</button>
                <button type="submit" name="sortDir" value="asc" style="border:none; background:none; cursor:pointer;">▼</button>
            </form>
        </th>
    </tr>
    </thead>

    <tbody>
    <th:block th:each="element,counter : ${bookedRooms}">

    <tr >
      <td th:text="${counter.count}"></td>
        <td th:text="${element.value.roomNumber}"></td>
        <td th:text="${element.value.pricePerHour}"></td>
        <td th:text="${element.key.pricePerHr}"></td>
        <td th:text="${element.key.roomType}"></td>
        <td th:text="${element.key.status}"></td>
        <td th:text="${element.value.roomIsActive? 'ACTIVE':'INACTIVE'}"></td>
        <td th:text="${element.key.bookingDate}"></td>
        <td th:text="${element.key.checkInDate}"></td>
        <td th:text="${element.key.checkoutDate}"></td>
        <td th:text="${element.key.paymentAmt}"></td>



    </tr>
    </th:block>

    </tbody>

</table>
<th:block th:if="${bookedRooms.size()>0}">

    <th:block
            th:replace="~{fragments/paginationDisplay::paginationDisplay(@{/business/service/findBookedRooms},${paginationReceiver})}">

    </th:block>
</th:block>
<br>
<a th:href="@{/business/resource/dashboard}">Back</a>
<br>
<h1 th:if="${bookedRooms.size()==0}" style="color: red;">No Active Bookings </h1>
</body>
</html>