<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Business Reg</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css"/>
</head>
<body class="flex">
<form th:action="@{/business/service/businessReg}" method="post">

    <div id="container" class="flex ">
        <h1>Business Registration </h1>
        <div id="user_div" class="flex form_container">
            <label for="businessName">Business Name </label>
            <input class="form_container_child" type="text" id="businessName" name="businessName" placeholder="Enter business Name" required/>
        </div>
        <div id="pass_div" class="flex form_container">
            <label for="city">City </label>
            <input class="form_container_child" type="text" id="city" name="city" placeholder="Enter City Name" required />
        </div>
        <div id="location_div" class="flex form_container">
            <label for="location">Location </label>
            <input class="form_container_child" type="text" id="location" name="location" placeholder="Enter Business Location" required />
        </div>
        <div id="submit_div">
            <button type="submit">Register</button>
        </div>
    </div>
</form>
<br>
<a th:href="@{/business/resource/dashboard}">Back</a>
<br>
</body>
</html>