<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Room Info</title>
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">
    <style>
        table {

            border-collapse: collapse;
        }
        th, td{
            border:2px solid black;
            padding: 24px;

        }
    </style>
</head>
<body>

<th:block th:with="margins=${ {'0px','0px','0px','60px'} }">
    <div th:replace="~{fragments/successFailureFragment :: successFailureFragment(${margins})}"></div>
</th:block>

<table th:if="${allAvailableRooms.size() > 0}">
    <thead>
    <tr>
        <th>SNo</th>
        <th>RoomNo</th>
        <th>PricePerHour</th>
        <th>Room Type</th>
        <th>Active Status</th>
        <th>Change Room Info</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="room, roomStat : ${allAvailableRooms}">
        <form th:action="@{/business/service/changeRoomInfo}" method="post">
            <td th:text="${roomStat.count}"></td>
            <td><input name="roomNumber" type="number" th:placeholder="${room.roomNumber}"></td>
            <td><input name="pricePerHour" type="number" step="0.01" th:placeholder="${room.pricePerHour}"></td>
            <td><input name="roomType" type="text" th:placeholder="${room.roomType}"></td>
            <td th:text="${room.roomIsActive}"></td>
            <td><button type="submit">Change Room Info</button></td>
            <input type="hidden" name="activeRoomNumber" th:value="${room.roomNumber}"/>

        </form>

    </tr>


    </tbody>

</table>
<br>
<a th:href="@{/business/resource/dashboard}">Back</a>
<br>

<h1 th:if="${allAvailableRooms.size()==0}" style="color: red;">All rooms are booked. Cant change Room information </h1>
</body>
</html>