<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragment</title>
</head>
<body>
<div id="successFailure_div" th:fragment="successFailureFragment()">
<div th:if="${success != null}">
    <p th:text="${success}"  class="success_message"></p>

</div>
<div th:if="${failure != null}">
    <p th:text="${failure}"  class="error_message"></p>

</div>
<div th:if="${fieldErrors != null}">
    <div th:each="err : ${fieldErrors}">
        <p  class="error_message"  th:text="${err}" ></p>
    </div>
</div>
</div>
</body>
</html>