
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color:white;
    display:flex;

}
#all_anchors{
    height:100%;
    width:20%;
    top:0;
    left:0;
    background-color: #f5f5f5;
/*f5f5f5*/
    display:flex;
    flex-direction:column;
    position:fixed;
   justify-content:space-evenly;
   border-right:1px solid #e4dedecb;


}
#main_content{
    flex-grow:1;
    margin-left:21%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


a {
    font-size:90%;
    font-weight:500;
    width:60%;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

a:hover {
    background-color: #fffdfd;
    cursor:pointer;
}

h1, h2, h3 {
    color: #333;
    white-space: nowrap;
}
a>i{
    margin-right:10px;
    color:#2020cd;
    font-size:x-large;
}
#dash_header{
    position:relative;
    top:0;
    margin-bottom:5px;
}
#img_div{
    height:100%;
    width:100%;
    flex-grow: 1;

}
#img_div>img{
    height:90%;
    width:90%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
