
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

div {
    margin-bottom: 20px;
}


a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    background-color: #037bfd;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

a:hover {
    background-color: #025fc0;
}

h1, h2, h3 {
    color: #333;
}
