
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
    display:flex;

}
#all_anchors{
    height:100%;
    width:20%;
    top:0;
    left:0;
    background-color: #2c3e50;
    display:flex;
    flex-direction:column;
    position:fixed;
   justify-content:space-evenly;
   border-right:1px solid #e4dedecb;


}
#main_content{
    flex-grow:1;
    margin-left:21%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


a {
    font-size:90%;
    font-weight:500;
    width:60%;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

a:hover {
    background-color: #fffdfd;
    color:  #2c3e50;
    cursor:pointer;
}
a:hover > i {
    color: #2c3e50;
}

h1, h2, h3 {
    color:  #2c3e50;
    white-space: nowrap;
}
a>i{
    margin-right:10px;
    color:#f4f6f8;
    font-size:x-large;
}
#dash_header{
    position:relative;
    top:10px;
    margin-bottom:3px;
    margin-top:10px;
}
#img_div{
    height:100%;
    width:100%;
    flex-grow: 1;

}
#img_div>img{
    height:90%;
    width:90%;


    background-size:cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}
