

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
.form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vh;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius:12px;
}
#submit_div{
    height:60%;
    width:80%;
    margin-top:4%;
    margin-left: 25%;

}
#submit_div>button{
    font-size:100%;
    border-color: royalblue;
    color: white;
    height: 100%;
    width: 100%;
    background-color:royalblue;
    border-radius:8px;


}
.email_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50%;
    margin-left: 8px;
    border-radius: 8px;
}
.email_container input{
    height:100%;
    width: 100%;

}
.email_container label{
    margin-right:4%;
    font-size: large;
}
#back{
    display:inline-block;
    padding: 10px 18px;
    border-radius:7px;
    background-color:#f0f0f0;
    border:2px solid transparent;
    cursor:pointer;
    margin-top:20px;
    color:black;
    text-decoration:none;
    align-content:center;


}

#back:hover{
    background-color:royalblue;
    color:white;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 1px #007bff;
}