
body{
    font-family:Arial, sans-serif;
    background-color:white;
}
.success-message{
    color: green;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 500px;
    height:400px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    flex-direction: column;
    border-radius:5%;

}
.form_container{
 height: 50px;
 width: 390px;
    font-size:large;

}
.message_shift{
    margin-left:10%;
}
.form_container_child{
    width:80%;
    height: 70%;
    margin-left: 8px;
    border-radius: 8px;
}
#submit_div{
    height:50px;
    width:315px;
    margin-top: 15px;
    margin-left: 7%;


}
#submit_div>button{
    font-size:100%;
    border-color: #037bfd;
    color: white;
    height: 95%;
    width: 100%;
    background-color:royalblue;
    border-radius: 8px;
    cursor:pointer;


}
#forgotPass_div{
 margin-left: 10%;
    margin-top: 4%;
    cursor:pointer;

}
#forgotPass_div> a{
    text-decoration: none;
    color:  black;
    font-weight:bold;



}

#back{
    display:inline-block;
    padding: 10px 18px;
    border-radius:7px;
    background-color:#f0f0f0;
    border:2px solid transparent;
    cursor:pointer;
    margin-top:20px;
    color:black;
    text-decoration:none;
    align-content:center;
    margin-left:45%;


}

#back:hover{
    background-color:royalblue;
    color:white;
}
    input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 1px #007bff;
}