#log_submit{
height:40px;
    width:100px;


}
#cancel_logout{
    height: 40px;
    width: 90px;
}
#cancel_logout button{
    height: 100%;
    width:100% ;
    border-radius: 8px;



}
#log_submit button{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: royalblue;
    color:white;





}
#log_container{
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:12px;
   background-color: #f0f0f0;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#log_buttons{
    height: 50%;
    width:100%;
    display: flex;
    justify-content: space-around;
   align-items:end ;
}

.log_content{
    height:90px;
    width:225px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-end;

}
