body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
}

table {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

th {
    background-color: #2c3e50;
    color: white;
    padding: 12px;
    text-align: center;
}

td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

input[type="number"], input[type="text"] {
    width: 90%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button,#imageFile {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}
/*#imageDisplay{*/
/*    max-width:20rem;*/
/*    max-height:20rem;*/

/*}*/
#imageDisplay>img{
    height:5rem;
    width:7rem
    background-size:cover;
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat;
}
button:hover {
    background-color: #218838;
}

a {
    display: inline-block;
    margin: 10px 0;
    padding: 8px 14px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 4px;
    transition: background-color 0.2s;
}

a:hover {
    background-color: #2c3e50;
    color:white;
}

.active-Page{
    background-color:#2c3e50;
    color:white
}

h1 {
    text-align: center;
    font-size: 1.2rem;
}
input::placeholder {
    color:black;
}
#pagination_display{
  margin-left:40%;
    margin-top:2%;
}
#back{
    margin-left:16%;
}
