<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home Page</title>
</head>
<body>
<div id="all_anchors">
<a th:href="@{/common/resource/login}"><i class="fa-solid fa-user-lock"></i></i> Login</a>
<a th:href="@{/common/resource/reg}"><i class="fa-solid fa-user-plus"></i></i>Register as User </a>
<a th:href="@{/business/resource/reg}"><i class="fa-solid fa-user-tie"></i></i>Register as Business</a>
<a th:href="@{/common/resource/roleBasedDashboard}"><i class="fa-solid fa-table-columns"></i>Dashboard</a>
</div>
<div id="main_content">

    <div id="dash_header">
    <h1> Welcome to Hotel Reservation System</h1>
</div>
    <th:block th:with="margins=${ {'0px','0px','0px','60px'} }">
        <div th:replace="~{fragments/successFailureFragment :: successFailureFragment(${margins})}"></div>
    </th:block>
    <div id="img_div"><img th:src=@{~/image/hotelPic2.jpg} alt="Hotel Pic"></div>
</div>
</body>
</div>
</html>