<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/successFailureFragment.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css">
    <title>Email Verification</title>
    <style>
        #pass_div input{
            width:250px;
            margin-left: 120px;
        }
    </style>
</head>
<body style="display:flex; flex-direction:column;" class="flex">
<form  method="post" th:action="@{/common/resource/verifyEmail}">

    <div  id="container" class="flex ">
        <h1>Verify Email</h1>
        <div id="verificationToken_div" class="flex form_container">
            <label for="verificationToken">Verification Token:</label>
            <input class="form_container_child" type="text" id="verificationToken" name="verificationToken" placeholder="Enter your VerificationToken" required/>
        </div>
        <div id="pass_div" class="flex form_container">
            <label  for="password">Password </label>
            <input style="width:65%;height:70%;margin-left:50px;"  class="form_container_child" type="password" id="password" name="password" placeholder="Enter Password" required />
        </div>
        <div style="margin-left:25%;margin-top:20px; width:55%;" id="submit_div">
            <button type="submit">Verify</button>
        </div>
        <th:block>
            <div id="successFailure_div" th:replace="~{fragments/successFailureFragment :: successFailureFragment()}"></div>
        </th:block>
    </div>
</form>
<a style="margin-right:40%;" id="back"  th:href="@{/common/resource/dashboard}">Back</a>

</body>
</html>
